@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Benvenuti a Pizzeria "In Forno"</h1>
    <p class="lead mb-5">Scopri le nostre deliziose pizze artigianali, preparate con ingredienti freschi e di qualità.</p>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/margherita.jpg" class="card-img-top" alt="Pizza Margherita">
                <div class="card-body">
                    <h5 class="card-title">Pizza Margherita</h5>
                    <p class="card-text">La classica pizza napoletana con pomodoro, mozzarella e basilico.</p>
                    <a href="#" class="btn btn-primary">Ordina Ora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/pepperoni.jpg" class="card-img-top" alt="Pizza Pepperoni">
                <div class="card-body">
                    <h5 class="card-title">Pizza Pepperoni</h5>
                    <p class="card-text">Una pizza saporita con mozzarella e pepperoni piccanti.</p>
                    <a href="#" class="btn btn-primary">Ordina Ora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/images/vegetariana.jpg" class="card-img-top" alt="Pizza Vegetariana">
                <div class="card-body">
                    <h5 class="card-title">Pizza Vegetariana</h5>
                    <p class="card-text">Una deliziosa pizza con una varietà di verdure fresche.</p>
                    <a href="#" class="btn btn-primary">Ordina Ora</a>
                </div>
            </div>
        </div>
    </div>
</div>